<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - UI.MVC</title>

	<environment names="Development">
		<link rel="stylesheet" href="~/css/reset.css" />
		<link rel="stylesheet" href="~/css/flex.css" />
		<link rel="stylesheet" href="~/css/site.css" />
		<link rel="stylesheet" href="~/css/iblurb.css" />
		<link rel="stylesheet" href="~/css/dex.css" />
		<link rel="stylesheet" href="~/css/PagedList.css" />
		<link rel="stylesheet" href="~/css/target.css" />
		<link rel="stylesheet" href="~/css/menu.css" />
		<link rel="stylesheet" href="~/css/buttons.css" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="~/css/reset.css" />
		<link rel="stylesheet" href="~/css/flex.css" />
		<link rel="stylesheet" href="~/css/site.css" />
		<link rel="stylesheet" href="~/css/iblurb.css" />
		<link rel="stylesheet" href="~/css/dex.css" />
		<link rel="stylesheet" href="~/css/PagedList.css" />
		<link rel="stylesheet" href="~/css/target.css" />
		<link rel="stylesheet" href="~/css/menu.css" />
		<link rel="stylesheet" href="~/css/buttons.css" />
	</environment>
</head>
<body>
	<div id="menu-container"
			 class="fcol falign-cross-center display-none">
		<div id="menu">
			<div class="fcol falign-main-pad falign-cross-stretch">
				<a href="@Url.Action("Index", "Pkmn")"
					 title="Pokémon"
					 class="btn btn-white">
					Pokémon
				</a>
				<a href="@Url.Action("Index", "Moves")"
					 title="Moves"
					 class="btn btn-white">
					Moves
				</a>
				<a href="@Url.Action("Index", "Abilities")"
					 title="Abilities"
					 class="btn btn-white">
					Abilities
				</a>
				<a href="@Url.Action("Index", "Items")"
					 title="Items"
					 class="btn btn-white">
					Items
				</a>
				<a href="@Url.Action("Index", "Types")"
					 title="Types"
					 class="btn btn-white">
					Types
				</a>
				<a href="@Url.Action("Index", "Categories")"
					 title="Categories"
					 class="btn btn-white">
					Categories
				</a>
			</div>
		</div>
	</div>

	<nav>
		<div class="frow falign-main-spread fnowrap">
			<a href="@Url.Action("Index", "Home", new { area = "" }, null)"
				 title="Home"
				 class="btn btn-white">
				Home
			</a>
			<a class="btn btn-white">
				Menu
			</a>
			<a href="#"
				 title="Top"
				 class="btn btn-white">
				Top
			</a>
		</div>
	</nav>

	<div id="spacer"></div>

	<div class="outer-container">
		<div class="inner-container">
			<header class="frow falign-main-center">
				<h1>@ViewData["Title"]</h1>
			</header>

			<main class="fcol falign-cross-center">
				@RenderBody()
			</main>
		</div>
	</div>

	<div class="outer-container">
		<div class="inner-container">
			<footer>
				Footer
			</footer>
		</div>
	</div>


	
	<environment names="Development">
		@*<script src="~/lib/jquery/dist/jquery.js"></script>*@
	</environment>
	@RenderSection("scripts", required: false)
</body>
</html>
